button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
a {
  text-decoration: none;
  color: #93909a;
}
.login-header {
  background: #6441a4;
  width: 100%;
  height: 120px;
  display: flex;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.287);
}
.login-navbar-button {
  color: #ffffff;

  padding: 0px 40px;
  margin-left: auto;

  display: flex;
  align-items: center;
}
.login-main-container:focus {
  outline: none;
}
.login-main-container {
  display: flex;
  justify-content: center;
}
.login-greeting {
  margin: 20px 0px;
  color: #c09cda;
  font-size: 45px;
}
.enter-button {
  padding: 8px 60px;
  background: #6441a4;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  margin: 60px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.287);
  display: flex;
}
.login-input {
  width: 100%;
  height: 40px;
  font-size: 20px;
  margin-top: 40px;


  border: 0;
  border-bottom: 1px solid #ccc;
  outline: none;
}
.focus-border {
  width: 0px;
  height: 2px;
  background: #6441a4;
  transition: 0.3s;
}
.login-input:focus ~ .focus-border {
  width: 100%;
}
.content {
  background: #faf9fa;
  width: 100%;
  min-height: 500px;
  position: relative;
}
img {
  margin: 10px 10px 10px 15px;
}
.emblem {
  color: #aaa7b2;
  font-weight: bold;
  font-style: italic;
  display: flex;
  align-items: center;
  font-size: 25px;
}
.content-header {
  width: 100%;
  height: 70px;
  background: #6441a4;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.287);

  display: flex;
  align-items: center;
}
.arrow {
  transform: rotate(180deg);
}
.grid-switcher {
  width: calc(100% - 20px);
  padding: 10px 0px 10px 20px;
  
}
.grid-switcher:hover {
  background: #322f37;
}
.add-object-button {
  margin: 20px;
  padding: 10px 30px;
  background: #6441a4;
  border-radius: 20px;
  color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.287);
}
.add-object-menu-background {
  overflow-y: scroll;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.397);
  z-index: 1;

  padding-right: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-object-menu {
  margin-top: 120px;
  margin-bottom: 30px;
  background: #ffffff;
  border-radius: 15px;
  padding: 15px 5px;
}
.add-menu-button {
  padding: 10px 30px;
  margin: 10px 0px;
}
.left {
  border-radius: 20px;
  background: #6441a4;
  color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.287);
  margin-left: 20px;
  margin-right: auto; 
}
.right {
  border-radius: 20px;
  border-width: 1px; 
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.438);
  color: #8c8795;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.287);
  margin-right: 20px;
  margin-left: auto;
}
.buttons {
  display: flex;
}
.object-fields {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  height: calc(100% - 80px);
}
.input {
  width: calc(100% - 35px);
  padding: 5px;
  border-radius: 5px; 
  outline: none;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.438);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.287);
  font-size: 15px;
  margin: 5px 0px; 
  background: #e8f0fe;
}
.log-out-button {
  color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 20px; 
}
.list {
  display: flex;
  flex-wrap: wrap;
}
.item {
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 250px;
  max-width: 600px;

  position: relative;
  display: grid;
  padding: 10px 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.109);
  background: #ffffff;
  margin: 5px 20px;
  align-items: center
}
.item:hover {
  cursor: grab;
}
.item-header {
  margin: 5px 0px;
  margin-right: 10px;
}
.item-title {
  display: flex;
}
.item-date {  
  font-size: 13px;
  color: #aaa7b2;
  margin-left: auto;
  margin-right: 25px;
}
.item-name {
  font-weight: bold;
  font-size: 18px;
}
.item-sub-name {
  font-size: 13px;
  color: #aaa7b2;
}
.item-extra-field {
  float: left;
  margin-left: auto;
  margin-right:  10%;
  font-size: 16px;
  color: rgb(90, 90, 90);
}
.item-edit-button {
  position: absolute;
  right: 10px;
  top: 7px;
  font-weight: bold;
  font-size: 30px;
  color: rgb(158, 158, 158);
}
.item-submenu {
  border: 0.5px solid rgba(0, 0, 0, 0.109);
  background: #ffffff;
  position: absolute;
  top: -50px;
  right: 0;
  margin: 60px 20px 0px 0px;
  z-index: 1;
}
.submenu-field {
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.1s;
  color: #93909a;
}
.submenu-field:hover {
  background: #e2e2e2;
  color: #6441a4;
}
.nav-link {
  color: #ffffff;
  padding: 20px 20px;
  display: flex;
  align-items: center;
}
.nav-link:hover {
  background: #8e6eca;
  transition: 0.2s;
}
.left-popup {
  position: fixed;
  height: 100%;
  width: 20%;
  background: #322f37;
  left: calc(-20% + 1px);
  top: 0;
}
.left-popup:hover {
  left: 0;
  transition: 0.5s;
}
.loader {
  height: 300px;
  width: 100%;
  position: relative;
}
.truck {
  color: #6441a4;
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: -50px;
  animation: rururu 30s linear infinite
}
.line {
  height: 4px;
  width: 100%;
  background: #6441a4;
  position: absolute;
  bottom: 0;
}
.dots {
  align-items: center;
  justify-content: center;
  color: #6441a4;
  display: flex;
  transition: 1s;
  height: 50px;
}
.dots div {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  width: 50px;
  font-size: 5px;
}
.dot1 {
  animation: pup 1s alternate infinite
}
.dot2 {
  animation: pup 1s alternate infinite 0.33s
}
.dot3 {
  animation: pup 1s alternate infinite 0.66s
}
@keyframes pup {
  from {
    font-size: 5px;
  }
  to {
    font-size: 50px;
  }
}
@keyframes rururu {
  from {left: -50px}
  to {left: calc(100% - 50px)}
}
.about-section {
  position: absolute;
  background: #ffffff;
  width: 100%;
  height: 100%;
}
.about-text {
  margin: 30px;
  background: url(./pic1.jpg);
  height: 100%;
  background-repeat: no-repeat;
  text-align: right;
  color: #322f37;
}
.about-text p {
  font-size: larger;
  font-family: Verdana;
}